# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Database
*.db
*.db-journal
dev.db
prod.db

# Prisma
prisma/migrations/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/
